* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
}
.header {
  width: 100%;
  height: 100vh;
  background-color: rgb(180, 245, 255);
}
.side-nav {
  width: 250px;
  height: 100%;
  background-color: rgb(20, 93, 252);
  padding: 20px 30px;

  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  display: block;
  margin-bottom: 130px;
}
.logo-img {
  width: 150px;
}
.nav-links {
  list-style: none;
  position: relative;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 10px 14px;

  display: flex;
  gap: 20px;
  /* align-items: center; */
}
.nav-links li a i {
  font-size: 22px;
}
.active {
  background-color: #fff;
  width: 100%;
  height: 47px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(255, 255, 255, 0.4);

  position: absolute;
  left: 0;
  top: 2.6%;
  z-index: -1;

  display: none;

  transition: top 0.5s;
}
.nav-links li:hover a {
  color: rgb(20, 93, 252);
  transition: 0.3s;
}
.nav-links li:hover ~ .active{
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
    top:2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
    top:19.2%
}
.nav-links li:nth-child(3):hover ~ .active{
    top:35.8%
}
.nav-links li:nth-child(4):hover ~ .active{
    top:52.4%
}
.nav-links li:nth-child(5):hover ~ .active{
    top:69%
}
.nav-links li:nth-child(6):hover ~ .active{
    top:85.6%
}

.logo-icon{
    width:45px;
    display: none;
}


@media only screen and (max-width: 600px){
    .side-nav{
        width:110px;
    }
    .logo-img{
        display:none;
    }
    .logo-icon{
        display:block;
    }
    .nav-links p{
        display:none;
    }
    .nav-links i{
        margin-right: 0;
    }
    .nav-links a{
        justify-content: center
    }
}