html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.sky,
.grass,
.road {
  position: relative;
}
.sky {
  background: skyblue;
  height: 40%;
}

.grass {
  background: rgb(24, 129, 98);
  height: 23%;
}
.road {
  background: rgb(63, 86, 92);
  height: 37%;
  /* width: 100%; */
  /* padding-top:100px; */
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  box-sizing: border-box;
}
.line {
  border: dashed white 5px;
  height: 0;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
}
/* elements to animate */
.mario {
  position: absolute;
  top: -60px;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  /* animation-delay:2s */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation: drive 5s linear infinite both, 
             jump 0.3s 1.2s ease;
}
.luigi {
  position: absolute;
  top: 70px;
  animation-name: drive;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  /* animation-direction: reverse; */
}
.cloud {
  position: absolute;
}
.cloud:nth-child(1) {
  top: 100px;
  width: 150px;
  opacity: 0.6;
  animation: wind 80s linear infinite reverse;
}
.cloud:nth-child(2) {
  top: 0;
  width: 250px;
  animation: wind 50s linear infinite reverse;
}

/* KeyFrames */
@keyframes drive {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(1500px);
  }
}
@keyframes wind {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}
@keyframes jump {
  0% {
    top: -60px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -60px;
  }
}
